{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-class-properties", [
      "transform-async-to-module-method", {
        "module": "co",
        "method": "wrap"
      }
    ],
    "add-module-exports",
    "transform-es2015-modules-commonjs"
  ]
}
